.title-main {
    font-size: 4rem;
    font-weight: normal;
}

.subtitle {
    font-size: 4rem;
}

.suptitle {
    font-size: 1rem;
}

.title-small {
    font-size: 2.4rem;
}

.title-small-extra {
    font-size: 1.6rem;
}

.lead {
    font-size: 1.8rem;
}

p,
li,
a {
    font-size: 1.4rem;
}

.paragraph {
    margin-bottom: 20px;
    line-height: 1.5;
}
