.btn {
    display: inline-block;
    padding: 12px 25px;
    text-transform: uppercase;
    @include transition;

    &--dark {
        background-color: $black;
        color: $white;
        &:hover {
            color: $black;
            background-color: $grey;
        }
    }

    &--light {
        color: $black;
        background-color: $white;
    }

    &--arrow {
        color: $black;
        background-color: transparent;
    }
}
