.btn {
    display: inline-block;
    padding: 12px 25px;
    text-transform: uppercase;
    @include transition;

    &--dark {
        background-color: $black;
        color: $white;
        &:hover {
            color: $black;
            background-color: $grey;
        }
    }

    &--light {
        color: $black;
        background-color: $white;
    }
}

.btn-arrow {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    font-size: 1.5rem;

    &::after {
        @include pseudo;
        left: 120%;
        top: 50%;
        transform: translateY(-50%);
        width: 42px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @include transition;
    }

    &:hover {
        &::after {
            transform: translateX(10px) translateY(-50%);
        }
    }

    &--light {
        color: $white;
        &::after {
            background-image: url("https://vieirahenrique.github.io/HV-photosnap/assets/shared/desktop/arrow-white.svg");
        }
    }

    &--dark {
        color: $black;
        &::after {
            background-image: url("https://vieirahenrique.github.io/HV-photosnap/assets/shared/desktop/arrow.svg");
        }
    }
}
